body{

background:#050505;
font-family:Arial;
color:#0ff;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;

}

.container{

width:500px;
padding:30px;
border:2px solid #0ff;
border-radius:12px;

box-shadow:
0 0 10px #0ff,
0 0 30px #0ff;

text-align:center;

}

h1{

color:#ff00ff;

text-shadow:
0 0 10px #ff00ff,
0 0 20px #ff00ff;

}

input{

padding:10px;
width:200px;
background:#111;
border:none;
color:#0ff;
border-bottom:2px solid #0ff;

}

button{

margin-left:10px;
padding:10px 15px;
background:#0ff;
border:none;
cursor:pointer;

box-shadow:
0 0 10px #0ff,
0 0 20px #0ff;

}

button:hover{

background:#ff00ff;

}

.paso{

margin-top:20px;

}

.puzzle{

display:grid;
grid-template-columns:repeat(4,50px);
gap:10px;
justify-content:center;
margin-top:10px;

}

.celda{

background:#111;
border:2px solid #0ff;
padding:10px;
font-size:20px;

box-shadow:
0 0 10px #0ff;

}